<!-- Footer -->

<footer>
    <div class="footer-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-7">
                    <form id="newsletter-validate-detail" method="post" action="#">
                        <h3 class="hidden-sm">Sign up for newsletter</h3>
                        <div class="newsletter-inner">
                            <input class="newsletter-email" name='Email' placeholder='Enter Your Email'/>
                            <button class="button subscribe" type="submit" title="Subscribe">Subscribe</button>
                        </div>
                    </form>
                </div>
                <div class="social col-md-4 col-sm-5">
                    <ul class="inline-mode">
                        <li class="social-network fb"><a title="Connect us on Facebook" target="_blank"
                                                         href="https://www.facebook.com/"><i
                                        class="fa fa-facebook"></i></a></li>
                        <li class="social-network googleplus"><a title="Connect us on Google+" target="_blank"
                                                                 href="https://plus.google.com/"><i
                                        class="fa fa-google-plus"></i></a></li>
                        <li class="social-network tw"><a title="Connect us on Twitter" target="_blank"
                                                         href="https://twitter.com/"><i
                                        class="fa fa-twitter"></i></a></li>
                        <li class="social-network linkedin"><a title="Connect us on Linkedin" target="_blank"
                                                               href="https://www.pinterest.com/"><i
                                        class="fa fa-linkedin"></i></a></li>
                        <li class="social-network rss"><a title="Connect us on Instagram" target="_blank"
                                                          href="https://instagram.com/"><i
                                        class="fa fa-rss"></i></a></li>
                        <li class="social-network instagram"><a title="Connect us on Instagram" target="_blank"
                                                                href="https://instagram.com/"><i
                                        class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3">
                <div class="footer-logo"><a href="index-2.html"><img src="/assets/images/footer-logo.png"
                                                                     alt="fotter logo"></a></div>
                <p>Lorem Ipsum is simply dummy text of the print and typesetting industry.</p>
                <div class="footer-content">
                    <div class="email"><i class="fa fa-envelope"></i>
                        <p>Support@themes.com</p>
                    </div>
                    <div class="phone"><i class="fa fa-phone"></i>
                        <p>(800) 0123 456 789</p>
                    </div>
                    <div class="address"><i class="fa fa-map-marker"></i>
                        <p> My Company, 12/34 - West 21st Street, New York, USA</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
                <div class="footer-links">
                    <h3 class="links-title">Information<a class="expander visible-xs" href="#TabBlock-1">+</a></h3>
                    <div class="tabBlock" id="TabBlock-1">
                        <ul class="list-links list-unstyled">
                            <li><a href="#s">Delivery Information</a></li>
                            <li><a href="#">Discount</a></li>
                            <li><a href="sitemap.html">Sitemap</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                            <li><a href="#">Terms &amp; Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
                <div class="footer-links">
                    <h3 class="links-title">Insider<a class="expander visible-xs" href="#TabBlock-3">+</a></h3>
                    <div class="tabBlock" id="TabBlock-3">
                        <ul class="list-links list-unstyled">
                            <li><a href="sitemap.html"> Sites Map </a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Trends</a></li>
                            <li><a href="about_us.html">About Us</a></li>
                            <li><a href="contact_us.html">Contact Us</a></li>
                            <li><a href="#">My Orders</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-xs-12 col-lg-3 collapsed-block">
                <div class="footer-links">
                    <h3 class="links-title">Service<a class="expander visible-xs" href="#TabBlock-4">+</a></h3>
                    <div class="tabBlock" id="TabBlock-4">
                        <ul class="list-links list-unstyled">
                            <li><a href="account_page.html">Account</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="shopping_cart.html">Shopping Cart</a></li>
                            <li><a href="#">Return Policy</a></li>
                            <li><a href="#">Special</a></li>
                            <li><a href="#">Lookbook</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-coppyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2016 <a href="#"> MyStore </a>. All Rights
                    Reserved.
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="payment">
                        <ul>
                            <li><a href="#"><img title="Visa" alt="Visa" src="/assets/images/visa.png"></a></li>
                            <li><a href="#"><img title="Paypal" alt="Paypal" src="/assets/images/paypal.png"></a>
                            </li>
                            <li><a href="#"><img title="Discover" alt="Discover" src="/assets/images/discover.png"></a>
                            </li>
                            <li><a href="#"><img title="Master Card" alt="Master Card"
                                                 src="/assets/images/master-card.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#" class="totop"> </a>
<!-- End Footer -->

<div id="dialog_abc" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cách viết : <b id="cach_viet_chu"></b></h4>
            </div>
            <div class="modal-body text-center">
                <div class="jp_draw_abc" id="jp_draw_abc">
                    <div id="kanji_draw"></div>
                    <div id="sample-btn">
                        <button id="p">‹</button>
                        <button id="s">■</button>
                        <button id="g" style="display:none;">▶</button>
                        <button id="n">›</button>
                        <button id="r">✕</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Newsletter Popup Start-->
<div id="myModal" class="modal fade">
    <div class="modal-dialog newsletter-popup">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            <div class="modal-body">
                <h4 class="modal-title">NEWSLETTER SIGNUP</h4>
                <form id="newsletter-form" method="post" action="#">
                    <div class="content-subscribe">
                        <div class="form-subscribe-header">
                            <label>Subscribe to be the first to know about Sales, Events, and Exclusive
                                Offers!</label>
                        </div>
                        <div class="input-box">
                            <input type="text" class="input-text newsletter-subscribe"
                                   title="Sign up for our newsletter" name="email"
                                   placeholder="Enter your email address">
                        </div>
                        <div class="actions">
                            <button class="button-subscribe" title="Subscribe" type="submit">Subscribe</button>
                        </div>
                    </div>
                </form>
                <div class="subscribe-bottom">
                    <input name="notshowpopup" id="notshowpopup" type="checkbox">
                    Don’t show this popup again
                </div>
            </div>

        </div>
    </div>
</div>
<!--End of Newsletter Popup-->
</div>


<!-- JS -->

<!-- jquery js -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<!-- bootstrap js -->
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>


<!-- owl.carousel.min js -->
<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>

<!-- bxslider js -->
<script type="text/javascript" src="/assets/js/jquery.bxslider.js"></script>

<!-- Slider Js -->
<script type="text/javascript" src="/assets/js/revolution-slider.js"></script>


<script type="text/javascript" src="/assets/drawkanji/js/raphael-min.js"></script>
<script type="text/javascript" src="/assets/drawkanji/dist/dmak.js"></script>
<script type="text/javascript" src="/assets/drawkanji/dist/jquery.dmak.js"></script>



<!-- megamenu js -->
<script type="text/javascript" src="/assets/js/megamenu.js"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var mega_menu = '0';

    /* ]]> */
</script>

<!-- jquery.mobile-menu js -->
<script type="text/javascript" src="/assets/js/mobile-menu.js"></script>

<!--jquery-ui.min js -->
<script type="text/javascript" src="/assets/js/jquery-ui.js"></script>

<!-- main js -->
<script type="text/javascript" src="/assets/js/main.js"></script>

<!-- countdown js -->
<script type="text/javascript" src="/assets/js/countdown.js"></script>

<!-- Revolution Slider -->
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.tp-banner').revolution(
            {
                delay: 9000,
                startwidth: 1170,
                startheight: 530,
                hideThumbs: 10,

                navigationType: "bullet",
                navigationStyle: "preview1",

                hideArrowsOnMobile: "on",

                touchenabled: "on",
                onHoverStop: "on",
                spinner: "spinner4"
            });
    });
</script>

<!-- Hot Deals Timer 1-->
<script type="text/javascript">
    var dthen1 = new Date("12/25/16 11:59:00 PM");
    start = "08/04/15 03:02:11 AM";
    start_date = Date.parse(start);
    var dnow1 = new Date(start_date);
    if (CountStepper > 0)
        ddiff = new Date((dnow1) - (dthen1));
    else
        ddiff = new Date((dthen1) - (dnow1));
    gsecs1 = Math.floor(ddiff.valueOf() / 1000);

    var iid1 = "countbox_1";
    CountBack_slider(gsecs1, "countbox_1", 1);
</script>

<script type="text/javascript" src="/assets/js/jquery.validate.js"></script>
<script type="text/javascript" src="/assets/js/jp2s.js"></script>



</body>

<!-- Mirrored from htmlmystore.justthemevalley.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 03 May 2018 17:57:32 GMT -->
</html>
