
.ex8_content {
    position: relative;
}
.ex8_content .question {
    background-image: url("images/bg_overlay.png");
    background-repeat: repeat;
    border-radius: 5px;
    color: white;
    font-family: jp5;
    font-size: 35px;
    height: 55px;
    left: 185px;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 160px;
    width: 260px;
    z-index: 9999;
}
.ex8_item {
    position: relative;
}
.ex8_answer_item {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    cursor: pointer;
    display: table;
    float: left;
    height: 180px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 300px;
    z-index: 99;
}
.ex8_answer_item img {
    height: 150px;
    vertical-align: middle;
    width: auto;
}
.ex8_answer_item:hover {
    box-shadow: 0 0 10px #333;
}
.ex8_handlike {
    background-image: url("images/handlike.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: none;
    height: 190px;
    left: 70px;
    position: absolute;
    top: 80px;
    width: 100px;
    z-index: 9999;
}
.ex8_handunlike {
    background-image: url("images/handunlike.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: none;
    height: 190px;
    position: absolute;
    right: 190px;
    top: 80px;
    width: 100px;
    z-index: 999;
}
.ex8_content .question .audio_click {
    background-size: 100% auto;
    float: right;
    height: 30px;
    margin-right: 5px;
    margin-top: 12px;
    width: 30px;
}
.ex8_answer_item .as_txt {
    color: blue;
    display: block;
    font-size: 25px;
    margin-top: 50px;
}
.ex8_score {
    font-family: Open Sans;
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 50px;
}
.ex8_score .point {
    display: inline-block;
}
.ex8_score .total {
    display: inline-block;
}
.ex8_num {
    background: royalblue none repeat scroll 0 0;
    border-radius: 40px;
    color: white;
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
.ex8_num.ex8_num_1 {
    left: 0;
    position: absolute;
    top: 0;
}
.ex8_num.ex8_num_2 {
    position: absolute;
    right: 0;
    top: 0;
}
.ex8_num.ex8_num_3 {
    bottom: 0;
    left: 0;
    position: absolute;
}
.ex8_num.ex8_num_4 {
    bottom: 0;
    position: absolute;
    right: 0;
}
.ex8_key {
    font-size: 20px;
    position: absolute;
    right: 2%;
    top: 45%;
    display: none;
}
.ex8_key b {
    background: red none repeat scroll 0 0;
    border-radius: 40px;
    color: white;
    display: block;
    float: right;
    height: 40px;
    line-height: 40px;
    margin-left: 7px;
    margin-top: -5px;
    text-align: center;
    width: 40px;
}

.ex8_answer_item.active{
    box-shadow: 0 0 10px red;

    border: solid 1px red;

}

.ex_notification{
    font-size: 18px;
    padding: 10px;
    text-align: center;
}