<div class="table-responsive">
    <div class="alert alert-warning">
        Click vào từng chữ cái để xem cách viết.
    </div>
    <table class="table table-bordered text-center jp_tb_alpha">
        <tbody><tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>あ
                        </span><small>a</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>い
                        </span><small>i</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>う
                        </span><small>u</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>え
                        </span><small>e</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>お
                        </span><small>o</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>か
                        </span><small>ka</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>き
                        </span><small>ki</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>く
                        </span><small>ku</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>け
                        </span><small>ke</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>こ
                        </span><small>ko</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>さ
                        </span><small>sa</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>し
                        </span><small>shi</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>す
                        </span><small>su</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>せ
                        </span><small>se</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>そ
                        </span><small>so</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>た
                        </span><small>ta</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ち
                        </span><small>chi</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>つ
                        </span><small>tsu</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>て
                        </span><small>te</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>と
                        </span><small>to</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>な
                        </span><small>na</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>に
                        </span><small>ni</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ぬ
                        </span><small>nu</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ね
                        </span><small>ne</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>の
                        </span><small>no</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>は
                        </span><small>ha</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ひ
                        </span><small>hi</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ふ
                        </span><small>fu</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>へ
                        </span><small>he</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ほ
                        </span><small>ho</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ま
                        </span><small>ma</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>み
                        </span><small>mi</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>む
                        </span><small>mu</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>め
                        </span><small>me</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>も
                        </span><small>mo</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>や
                        </span><small>ya</small>
                    </p>
                </a>

            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ゆ
                        </span><small>yu</small>
                    </p>
                </a>

            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>よ
                        </span><small>yo</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ら
                        </span><small>ra</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>り
                        </span><small>ri</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>る
                        </span><small>ru</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>れ
                        </span><small>re</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ろ
                        </span><small>ro</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>わ
                        </span><small>wa</small>
                    </p>
                </a>

            </td>
            <td>

            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>を
                        </span><small>o</small>
                    </p>
                </a>
            </td>
        </tr>
        <tr>
            <td>


            </td>
            <td>

            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ん
                        </span><small>n</small>
                    </p>
                </a>
            </td>
        </tr>
        </tbody></table>

    <div class="h20"></div>
    <table class="table table-bordered text-center jp_tb_alpha">
        <tbody><tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>が
                        </span><small>ga</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ぎ
                        </span><small>gi</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ぐ
                        </span><small>gu</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>げ
                        </span><small>ge</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ご
                        </span><small>go</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ざ
                        </span><small>za</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>じ
                        </span><small>ji</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ず
                        </span><small>zu</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ぜ
                        </span><small>ze</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ぞ
                        </span><small>zo</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>だ
                        </span><small>da</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>じ
                        </span><small>ji</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>づ
                        </span><small>du</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>で
                        </span><small>de</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ど
                        </span><small>do</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ば
                        </span><small>ba</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>び
                        </span><small>bi</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ぶ
                        </span><small>bu</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>べ
                        </span><small>be</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ぼ
                        </span><small>bo</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ぱ
                        </span><small>pa</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ぴ
                        </span><small>pi</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ぷ
                        </span><small>pu</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ぺ
                        </span><small>pe</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ぽ
                        </span><small>po</small>
                    </p>
                </a>

            </td>
        </tr>


        </tbody></table>
    <div class="h20"></div>

    <table class="table table-bordered text-center jp_tb_alpha">
        <tbody><tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>きゃ
                        </span><small>kya</small>
                    </p>
                </a>

            </td>
            <td>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>きゅ
                        </span><small>kyu</small>
                    </p>
                </a>

            </td>
            <td>


            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>きょ
                        </span><small>kyo</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>しゃ
                        </span><small>sha</small>
                    </p>
                </a>

            </td>
            <td>


            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>しゅ
                        </span><small>shu</small>
                    </p>
                </a>

            </td>
            <td>


            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>しょ
                        </span><small>sho</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ちゃ
                        </span><small>cha</small>
                    </p>
                </a>

            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ちゅ
                        </span><small>chu</small>
                    </p>
                </a>

            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ちょ
                        </span><small>cho</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>にゃ
                        </span><small>nya</small>
                    </p>
                </a>

            </td>
            <td>


            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>にゅ
                        </span><small>nyu</small>
                    </p>
                </a>

            </td>
            <td>


            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>にょ
                        </span><small>nyo</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ひゃ
                        </span><small>hya</small>
                    </p>
                </a>

            </td>
            <td>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ひゅ
                        </span><small>hyu</small>
                    </p>
                </a>
            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ひょ
                        </span><small>hyo</small>
                    </p>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>みゃ
                        </span><small>mya</small>
                    </p>
                </a>

            </td>
            <td>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>みゅ
                        </span><small>myu</small>
                    </p>
                </a>
            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>みょ
                        </span><small>myo</small>
                    </p>
                </a>
            </td>
        </tr>


        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>りゃ
                        </span><small>rya</small>
                    </p>
                </a>

            </td>
            <td>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>りゅ
                        </span><small>ryu</small>
                    </p>
                </a>
            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>りょ
                        </span><small>ryo</small>
                    </p>
                </a>
            </td>
        </tr>


        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ぎゃ
                        </span><small>gya</small>
                    </p>
                </a>

            </td>
            <td>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ぎゅ
                        </span><small>gyu</small>
                    </p>
                </a>
            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ぎょ
                        </span><small>gyo</small>
                    </p>
                </a>
            </td>
        </tr>


        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>じゃ
                        </span><small>ja</small>
                    </p>
                </a>

            </td>
            <td>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>じゅ
                        </span><small> ju</small>
                    </p>
                </a>
            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>じょ
                        </span><small>jo</small>
                    </p>
                </a>
            </td>
        </tr>


        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>びゃ
                        </span><small>bya</small>
                    </p>
                </a>

            </td>
            <td>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>びゅ
                        </span><small>byu</small>
                    </p>
                </a>
            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>びょ
                        </span><small>byo</small>
                    </p>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ぴゃ
                        </span><small>pya</small>
                    </p>
                </a>

            </td>
            <td>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ぴゅ
                        </span><small>pyu</small>
                    </p>
                </a>
            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ぴょ
                        </span><small>pyo</small>
                    </p>
                </a>
            </td>
        </tr>
        </tbody></table>
</div>