<div class="table-responsive">
    <div class="alert alert-warning">
        Click vào từng chữ cái để xem cách viết.
    </div>
    <table class="table table-bordered text-center jp_tb_alpha">
        <tbody><tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ア
                        </span><small>a</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>イ
                        </span><small>i</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ウ
                        </span><small>u</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>エ
                        </span><small>e</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>オ
                        </span><small>o</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>カ
                        </span><small>ka</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>キ
                        </span><small>ki</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ク
                        </span><small>ku</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ｹ
                        </span><small>ke</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>コ
                        </span><small>ko</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>サ
                        </span><small>sa</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>シ
                        </span><small>shi</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ス
                        </span><small>su</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>セ
                        </span><small>se</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ソ
                        </span><small>so</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>タ
                        </span><small>ta</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>チ
                        </span><small>chi</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ツ
                        </span><small>tsu</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>テ
                        </span><small>te</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ト
                        </span><small>to</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ナ
                        </span><small>na</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ニ
                        </span><small>ni</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ヌ
                        </span><small>nu</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ネ
                        </span><small>ne</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ノ
                        </span><small>no</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ハ
                        </span><small>ha</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ヒ
                        </span><small>hi</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>フ
                        </span><small>fu</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ヘ
                        </span><small>he</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ホ
                        </span><small>ho</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>マ
                        </span><small>ma</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ミ
                        </span><small>mi</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ム
                        </span><small>mu</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>メ
                        </span><small>me</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>モ
                        </span><small>mo</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ヤ
                        </span><small>ya</small>
                    </p>
                </a>

            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ユ
                        </span><small>yu</small>
                    </p>
                </a>

            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ヨ
                        </span><small>yo</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ラ
                        </span><small>ra</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>リ
                        </span><small>ri</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ル
                        </span><small>ru</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>レ
                        </span><small>re</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ロ
                        </span><small>ro</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ワ
                        </span><small>wa</small>
                    </p>
                </a>

            </td>
            <td>

            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ヲ
                        </span><small>o</small>
                    </p>
                </a>
            </td>
        </tr>
        <tr>
            <td>


            </td>
            <td>

            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ン
                        </span><small>n</small>
                    </p>
                </a>
            </td>
        </tr>
        </tbody></table>

    <div class="h20"></div>
    <table class="table table-bordered text-center jp_tb_alpha">
        <tbody><tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ガ
                        </span><small>ga</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ギ
                        </span><small>gi</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>グ
                        </span><small>gu</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ゲ
                        </span><small>ge</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ゴ
                        </span><small>go</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ザ
                        </span><small>za</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ジ
                        </span><small>ji</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ズ
                        </span><small>zu</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ゼ
                        </span><small>ze</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ゾ
                        </span><small>zo</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ダ
                        </span><small>da</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ジ
                        </span><small>ji</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ズ
                        </span><small>zu</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>デ
                        </span><small>de</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ド
                        </span><small>do</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>バ
                        </span><small>ba</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ビ
                        </span><small>bi</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ブ
                        </span><small>bu</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ベ
                        </span><small>be</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ボ
                        </span><small>bo</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>パ
                        </span><small>pa</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ピ
                        </span><small>pi</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>プ
                        </span><small>pu</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ペ
                        </span><small>pe</small>
                    </p>
                </a>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ポ
                        </span><small>po</small>
                    </p>
                </a>

            </td>
        </tr>


        </tbody></table>
    <div class="h20"></div>

    <table class="table table-bordered text-center jp_tb_alpha">
        <tbody><tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>キャ
                        </span><small>kya</small>
                    </p>
                </a>

            </td>
            <td>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>キュ
                        </span><small>kyu</small>
                    </p>
                </a>

            </td>
            <td>


            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>キョ
                        </span><small>kyo</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>シャ
                        </span><small>sha</small>
                    </p>
                </a>

            </td>
            <td>


            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>シュ
                        </span><small>shu</small>
                    </p>
                </a>

            </td>
            <td>


            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ショ
                        </span><small>sho</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>チャ
                        </span><small>cha</small>
                    </p>
                </a>

            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>チュ
                        </span><small>chu</small>
                    </p>
                </a>

            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>チョ
                        </span><small>cho</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ニャ
                        </span><small>nya</small>
                    </p>
                </a>

            </td>
            <td>


            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ニュ
                        </span><small>nyu</small>
                    </p>
                </a>

            </td>
            <td>


            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ニョ
                        </span><small>nyo</small>
                    </p>
                </a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ヒャ
                        </span><small>hya</small>
                    </p>
                </a>

            </td>
            <td>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ヒュ
                        </span><small>hyu</small>
                    </p>
                </a>
            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ヒョ
                        </span><small>hyo</small>
                    </p>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ミャ
                        </span><small>mya</small>
                    </p>
                </a>

            </td>
            <td>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ミュ
                        </span><small>myu</small>
                    </p>
                </a>
            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ミョ
                        </span><small>myo</small>
                    </p>
                </a>
            </td>
        </tr>


        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>リャ
                        </span><small>rya</small>
                    </p>
                </a>

            </td>
            <td>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>リュ
                        </span><small>ryu</small>
                    </p>
                </a>
            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>リョ
                        </span><small>ryo</small>
                    </p>
                </a>
            </td>
        </tr>


        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ギャ
                        </span><small>gya</small>
                    </p>
                </a>

            </td>
            <td>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ギュ
                        </span><small>gyu</small>
                    </p>
                </a>
            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ギョ
                        </span><small>gyo</small>
                    </p>
                </a>
            </td>
        </tr>


        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ジャ
                        </span><small>ja</small>
                    </p>
                </a>

            </td>
            <td>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ジュ
                        </span><small> ju</small>
                    </p>
                </a>
            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ジョ
                        </span><small>jo</small>
                    </p>
                </a>
            </td>
        </tr>


        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ビャ
                        </span><small>bya</small>
                    </p>
                </a>

            </td>
            <td>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ビュ
                        </span><small>byu</small>
                    </p>
                </a>
            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ビョ
                        </span><small>byo</small>
                    </p>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ピャ
                        </span><small>pya</small>
                    </p>
                </a>

            </td>
            <td>

            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ピュ
                        </span><small>pyu</small>
                    </p>
                </a>
            </td>
            <td>
            </td>
            <td>
                <a href="javascript:;" class="jp_txt_href">
                    <p class="jp_txt_main"><span>ピョ
                        </span><small>pyo</small>
                    </p>
                </a>
            </td>
        </tr>
        </tbody></table>
</div>